# You will need to setup at least one pair of BASE_URL and API_KEY, local or remote. 
# Remove ".example" from the file name to activate the environment setting
# The actual .env is ignored in git, please DO NOT upload your credentials 

LOCAL_BASE_URL=http://localhost:11434/v1
REMOTE_BASE_URL=<your_remote_base_url_for_openai_api>

LOCAL_API_KEY=<if use ollama, the api key is "ollama">
REMOTE_API_KEY=<your_remote_api_key_for_openai_api>

 

