/data
configs/mcp_configs.json
.env
/models/__pycache__
/__pycache__
*.pyc
*.log
/demo/mk_demo
/mcp_tool_layer.egg-info
/sandbox
/playground
configs/pretask_mcp_configs.json
/src/agents/mops/dynamic_mcp/prompts/archive
/raw_data
/archive
/earlier_ground_truth
/scripts/output_conversion_ttl_to_json/data
/scripts/data
evaluation/organic_cbu_derivation_report.json
evaluation/result_investigation.csv
/newer_ground_truth/cbu
/newer_ground_truth
/tmp
/3_new_papers
/evaluation/data
/newer_ground_truth_gao
/newer_ground_truth_lu
/newer_ground_truth_sun
evaluation/ccdc_scan_nohits_overlaps.txt
evaluation/hash_category.json
data-2025-10-20.zip
evaluation/basic_comparison.csv
evaluation/basic_comparison_summary.md
evaluation/ccdc_scan_raw_data_nohits.txt
evaluation/result_investigation_newer_set.csv
evaluation/result_investigation_older_set.csv
*.zip
/evaluation/ontomops_derivation_evaluation/reports
/evaluation/documents
memory_print_out.txt
/previous_work
/evaluation/development_check/steps
/previous_work_anchored
/tests/step_extraction/first_round_extractions
/tests/step_extraction/previous_results
/tests/step_extraction/results/llm_based_results
/tests/step_extraction/results
/tests/step_extraction/ai_generated_prompts
evaluation/development_check/number_of_synthesis.md
evaluation/development_check/number_of_synthesis_test.md
evaluation/development_check/number_of_chemical_inputs.md
evaluation/development_check/chemical_inputs_analysis_summary.md
evaluation/development_check/number_of_chemical_inputs_test.md
/data_backup
/evaluation/data_main
/evaluation/data_mcp_set_1
/ai_generated_contents
/ai_generated_contents_candidate
/ai_generated_contents_reference
/corrected_gt
/corrected_new_gt
/full_ground_truth
/docs/paper/data
configs/extension.json.bak.20260113_181612
configs/meta_task/meta_task_config.json.bak.20260114_133917
configs/meta_task/meta_task_config.json.bak.20260114_141429
configs/meta_task/meta_task_config.json.bak.20260114_141836
configs/run_created_mcp.json.bak.20260113_181612
configs/run_created_mcp.json.bak.20260114_133917
configs/run_created_mcp.json.bak.20260114_141429
configs/run_created_mcp.json.bak.20260114_141836
/docs/mcp_generation_requirements
/.guard
/.memory
guard_state.json
