{  
    "filesystem": {
        "command": "docker",
        "args": [
            "run",
            "-i",
            "--rm",
            "--mount", "type=bind,src=<your_data_directory_path>,dst=/projects/data",
            "mcp/filesystem",
            "/projects"
        ],
        "transport": "stdio"
    }, 

    "github": {
        "command": "docker",
        "args": [
          "run",
          "-i",
          "--rm",
          "-e",
          "GITHUB_PERSONAL_ACCESS_TOKEN",
          "mcp/github"
        ],
        "env": {
          "GITHUB_PERSONAL_ACCESS_TOKEN": "<your_github_personal_access_token>"
        }
    }, 

    "guassian_parsing": {
        "command": "python",
        "args": [
            "<path_to_mcp_servers>/guassian_parsing_server.py"
        ],
        "transport": "stdio"
    },
    "Math": {
        "command": "python",
        "args": [
            "<path_to_mcp_servers>/test.py"
        ],
        "transport": "stdio"
    },

    "stack_operations": {
        "command": "python",
        "args": [
            "<path_to_mcp_servers>/stack/main.py"
        ],
        "transport": "stdio"
    },
    "generic_operations": {
        "command": "python",
        "args": [
            "<path_to_mcp_servers>/generic/main.py"
        ],
        "transport": "stdio"
    },
    "sandbox": {
        "command": "python",
        "args": [
            "<path_to_mcp_servers>/sandbox/main.py"
        ],
        "transport": "stdio"
    },
    "task_operations": {
        "command": "python",
        "args": [
            "<path_to_mcp_servers>/task/main.py"
        ],
        "transport": "stdio"
    }
}