{

    "filesystem": {
        "command": "docker",
        "args": [
            "run",
            "-i",
            "--rm",
            "--mount", "type=bind,src=<absolute path>/data,dst=/data",
            "--mount", "type=bind,src=<absolute path>/sandbox,dst=/sandbox",	
            "mcp/filesystem",
            "/data",
            "/sandbox"
        ],
        "transport": "stdio"
    },
    "generic_operations": {
        "command": "python",
        "args": ["<absolute path>/src/mcp_servers/generic/main.py"],
        "transport": "stdio"
    },
    "sandbox": {
        "command": "python",
        "args": ["<absolute path>/src/mcp_servers/sandbox/main.py"],
        "transport": "stdio"
    },
    "stack_operations": {
        "command": "python",
        "args": ["<absolute path>/src/mcp_servers/stack/main.py"],
        "transport": "stdio"
    },
    "task_operations": {
        "command": "python",
        "args": [
            "<absolute path>/src/mcp_servers/task/main.py"
        ],
        "transport": "stdio"
    }

}